*
{
    margin: 0px;
    padding: 0px;
}

body
{
/*    background-color: #2a2939;*/
    background: #252C33;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #05a06a;
}

.hej {
    display: none;
}

/* LOGIN PAGE CSS */

header {
    width: 100%;
    height: 70px;
    background: #1e1e1e;
}

header form {
    width: 100%;
    height: 70px;
}

header form h2 {
    line-height: 70px;
    margin-left: 5%;
    color: #188dce;
    font-weight: 400;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

header form h2:hover {
    color: #00a4ff;
}

header form #sign-in-btn
{
    display: block;
    float: right;
    padding-top: 14px;
    margin-right: 5%;
}

#profile_picture
{
    border-radius: 10px;
    width: 60px;
}

#intro-container {
    width: 60%;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    padding-top: 140px;
    font-family: 'Open Sans', sans-serif;
}

#intro-container .intro-headerText {
    font-size: 80px;
    font-weight: 500;
    color: #fafafa;
}

#intro-container button {
    width: 600px;
    height: 70px;
    margin-top: 60px;
    background: #188dce;
    border: none;
    border-radius: 35px;
    color: #fafafa;
    font-weight: 600;
    letter-spacing: 2px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#intro-container button:focus {
    outline: none;
}

#intro-container button:hover {
    background: #206389;
}

.friend-container {
    position: relative;
    overflow-y: scroll;
    max-height: 600px;
    width: 400px;
    background: rgba(27,35,42,0.9);
    float: left;
}

.friends-text {
    width: 45%;
    display: inline-block;
    font-size: 40px;
    vertical-align:top;
    position: relative;
    color: #fafafa;
    font-weight: 400;
    top: 40%;
    transform: translateY(-40%);
}

.friends-img {
    width: 40%;
    display: inline-block;
    vertical-align:top;
    margin-top: 60px;
}


/* END LOGIN PAGE CSS */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

#friendlist
{
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    left: 0.5%;
}

.friendCell
{
    width: 90%;
    background: rgba(27,35,42,0.9);
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border-radius: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    font-weight: 400;
}

.friendCell:hover {
    background: #252C33;
}

.friendName
{
    color: #05a06a;
    font-size: 16px;
    margin-left: 20px;
}

#chat {
    width: 78%;
    position: relative;
    font-size: 14px;
    float: right;
}

#chatLog {
    overflow-y: scroll;
    max-height: 500px;
    padding: 10px;
    background: #252C33;
    color: #fff;
    font-weight: 300;
    clear: both;
    margin-right: 10px;
}

#chatTxtInput {
    width: 96%;
    max-width: 96%;
    height: 40px;
    background: rgba(27,35,42,0.9);
    border: none;
    color: #fff;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

#chatTxtInput:focus {
    outline: none;
}

#chatBtn {
    background: rgba(27,35,42,0.9);
    max-width: 96%;
    height: 40px;
    margin: 10px 0 0 0;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    opacity: 1;
}

#chatBtn:hover {
    opacity: 0.8;
}

.chatLink {
    float: right;
    position: relative;
    padding: 10px;
    right: -60px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    border-radius: 5px;
}

.friendCell:hover .chatLink {
    color: #05a06a;
    right: 10px;
}

#chatLog ul {
    display: block;
    position: relative;
    width: 90%;
    padding: 10px 0 10px 0;
    list-style: none;
    margin: 0;
}

#chatLog ul img {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-right: 15px;
    border-radius: 5px;
    margin-top: 4px;
    display: inline-block;
    position: relative;
}

#chatLog li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

#chatLog .chatMsg {
    max-width: 90%;
}

#chatLog .chatMsg p {
    background: #eef8ff;
    color: #34495E;
    width: 100%;
    min-width: 200px;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    position: relative;
    word-wrap: break-word;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

#chatLog .chatMsg p .chatName time {
    float: right;
    font-weight: 400;
    color: #999;
    clear: both;
}

#chatLog .chatMsg p .chatName {
    font-weight: 700;
    display: block;
    padding-bottom: 10px;
    clear: both;
}

.otherUser {
    float: right;
}

#sidebar
{
    width: 100%;
    height: 120px;
    background: #1e1e1e;
    background: rgba(27,35,42,0.9);
}

.profile-pic-wrap {
    float: left;
    position: relative;
    left: 2%;
    text-align: center;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
}

.profile-pic-wrap h2 {
    display: inline-block;
    float: right;
    position: relative;
    top: -50%;
    left: 10px;
    transform: translateY(50%);
}

.menu-bar {
    color: #05a06a;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: right;
    width: 30%;
}

.menu-bar ul {
    margin-left: 2%;
}

.menu-bar ul li {
    display: inline-block;
    padding: 0 20px 0 20px;
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: #fff;
}

.menu-bar ul li:hover {
    color: #252C33;
}

.menu-bar input[type="submit"] {
    width: 115px;
    height: 35px;
    border: none;
    background: #252C33;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #1e1e1e;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.menu-bar input[type="submit"]:hover {
    background: rgba(27,35,42,0.9);
    color: #D64541;
}

#friendHeader {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-left: 22px;
    margin-bottom: 20px;
    color: rgba(27,35,42,0.9);
}

#game-list {
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
    top: 80px;
    margin: 0 auto;
    clear: both;
}

#game-list #gameListHeader {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 40px;
    color: rgba(27,35,42,0.9);
}

#game-list .gameCell {
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin: 3px;
}

.gameCell img {
    width: 100%;
    height: auto;
    max-height: 215px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    opacity: 1;
}

.gameCell img:hover {
    opacity: 0.5;
    -webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.gameCell .game-info {
    display: none;
}
