*
{
    margin: 0px;
    padding: 0px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800);

body
{
/*    background-color: #2a2939;*/
    background-color: #252525;
    font-family: 'Montserrat', sans-serif;
}

/* LOGIN PAGE CSS */

header {
    width: 100%;
    height: 70px;
    background: #1e1e1e;
}

header form {
    width: 100%;
    height: 70px;
}

header form h2 {
    line-height: 70px;
    margin-left: 5%;
    color: #188dce;
    font-weight: 400;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

header form h2:hover {
    color: #00a4ff;
}

header form #sign-in-btn
{
    display: block;
    float: right;
    padding-top: 14px;
    margin-right: 5%;
}

#profile_picture
{
    border-radius: 10px;
    width: 60px;
}

#intro-container {
    width: 60%;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    padding-top: 140px;
    font-family: 'Open Sans', sans-serif;
}

#intro-container .intro-headerText {
    font-size: 80px;
    font-weight: 500;
    color: #fafafa;
}

#intro-container button {
    width: 600px;
    height: 70px;
    margin-top: 60px;
    background: #188dce;
    border: none;
    border-radius: 35px;
    color: #fafafa;
    font-weight: 600;
    letter-spacing: 2px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#intro-container button:focus {
    outline: none;
}

#intro-container button:hover {
    background: #206389;
}

.friend-container {
    position: relative;
    right: 5%;
    overflow-y: scroll;
    max-height: 600px;
    width: 400px;
    background: #252525;
}

.friends-text {
    width: 45%;
    display: inline-block;
    font-size: 40px;
    vertical-align:top;
    position: relative;
    color: #fafafa;
    font-weight: 400;
    top: 40%;
    transform: translateY(-40%);
}

.friends-img {
    width: 40%;
    display: inline-block;
    vertical-align:top;
    margin-top: 60px;
}


/* END LOGIN PAGE CSS */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

#friendlist
{
    position: relative;
    display: block;
    float: right;
}

.friendCell
{
    width: 90%;
    background-color: #252525;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border-radius: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    font-family: 'Open Sans';
}

.friendCell:hover {
    background-color: #1a1b1d;
}

.friendName
{
    color: #05a06a;
    font-size: 16px;
    margin-left: 20px;
}

#chat {
    width: 26%;
    position: relative;
    float: right;
    top: 75px;
    font-family: "Open sans";
    font-size: 14px;
}

#chatLog {
    overflow-y: scroll;
    max-height: 300px;
    padding: 10px;
    background-color: #1e1e1e;
    color: #fff;
    font-weight: 300;
}

#chatLog p {
    margin-top: 8px;
}

#chatTxtInput {
    width: 300px;
    height: 40px;
    background-color: #1e1e1e;
    border: none;
    color: #fff;
    padding: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#chatTxtInput:focus {
    outline: none;
    height: 70px;
}

#chatBtn {
    background-color: #1e1e1e;
    width: 300px;
    height: 40px;
    margin: 10px 0 0 0;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    opacity: 1;
}

#chatBtn:hover {
    opacity: 0.8;
}

.chatLink {
    float: right;
    position: relative;
    padding: 10px;
    right: -60px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}

.friendCell:hover .chatLink {
    color: #fff;
    right: 10px;
}

#chatLog p span img {
}

#sidebar
{
    width: 100%;
    height: 120px;
    background: #1e1e1e;
}

.profile-pic-wrap {
    float: left;
    position: relative;
    left: 2%;
    text-align: center;
    color: #05a06a;
    top: 50%;
    transform: translateY(-50%);
}

.profile-pic-wrap h2 {
    display: inline-block;
    float: right;
    position: relative;
    top: -50%;
    left: 10px;
    transform: translateY(50%);
}

.menu-bar {
    color: #05a06a;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: right;
    width: 40%;
    max-width: 400px;
}

.menu-bar ul {
    margin-left: 2%;
}

.menu-bar ul li {
    display: inline-block;
    padding: 0 20px 0 20px;
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.menu-bar ul li:hover {
    color: #252525;
}

.menu-bar input[type="submit"] {
    width: 115px;
    height: 35px;
    border: none;
    background: #252525;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #1e1e1e;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.menu-bar input[type="submit"]:hover {
    background: #1e1e1e;
    color: #D64541;
}

#friendHeader {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #1e1e1e;
}

#game-list {
    position: relative;
    width: 50%;
    left: 2%;
    top: 30px;
}

#game-list .gameListHeader {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 8px;
    color: #1e1e1e;
}

#game-list .gameCell {
    margin: 15px 5px 0 5px;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.gameCell img {
    width: 100%;
    height: auto;
    max-height: 215px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    opacity: 1;
}

.gameCell img:hover {
    opacity: 0.5;
    -webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.gameCell .game-info {
    display: none;
}
